@model IEnumerable<Homework5.Models.ServiceRequestForm>

@{
    ViewBag.Title = "Campus Apartments";
}

<h1 class="formTitle">@ViewBag.Title</h1>
<h1>@ViewBag.Message</h1>

<table class="table" style="margin-top: 40px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestTimestamp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentName)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDescription)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.AllowEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTimestamp)
            </td>
        </tr>
    }

</table>
