@model Homework5.Models.ServiceRequestForm

@{
    ViewBag.Title = "Campus Apartments";
    ViewBag.Message = "Tennant Request Form";
}

<h1 class="formTitle">@ViewBag.Title</h1>
<h1>@ViewBag.Message</h1>
<h1 id="successMessage"><strong>@ViewData["Success"]</strong></h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="margin-top: 40px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-4" style="float: left; margin-bottom: 10px;">
            <div class="form-group">

                @Html.LabelFor(model => model.FirstName, "First Name:", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="col-md-4" style="float: left; margin-bottom: 10px;">
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, "Last Name:", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4" style="float: left; margin-bottom: 10px;">
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, "Phone Number", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4" style="float: left; margin-bottom: 10px;">
            <div class="form-group">
                @Html.LabelFor(model => model.ApartmentName, "Apartment Name:", htmlAttributes: new { @class = "control-label"})
                @Html.EditorFor(model => model.ApartmentName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.ApartmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-4" style="float: left; margin-bottom: 10px;">
            <div class="form-group">
                @Html.LabelFor(model => model.UnitNumber, "Unit Number:", htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.UnitNumber, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.UnitNumber, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="container">
            <div class="form-group">
                @Html.TextAreaFor(model => model.RequestDescription, new
           {
               htmlAttributes = new { @class = "form-control" },
               id = "requestDescription",
               placeholder = "Explanation of request, maintenance required, or complaint. Please be specific.",
               autocomplete = "off",
               rows = "5",
               columns = "100",
               maxlength = 250
                })
                @Html.ValidationMessageFor(model => model.RequestDescription, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-4">                        
                        <input id="btnSubmitForm" class="btn btn-default submitted" type="submit" value="Submit Request"/>
                        @Html.HiddenFor(model => model.RequestTimestamp, new { @Value = System.DateTime.Now })
                    </div>
                </div>

                <div>
                    @Html.CheckBoxFor(model => model.AllowEntry)
                    @Html.LabelFor(model => model.AllowEntry, "Select here to give permission for the landlord" +
                       " or representative to enter your uniit to perform the requested maintenance. We will call first.",
                       htmlAttributes: new { @class = "allow-entry-label" })
                </div>

            </div>
        </div>
    </div>
}
