@model Homework6.Models.Person

@{
    ViewBag.Title = "View Details";
}

<h2><strong>@Html.DisplayFor(model => model.FullName)</strong></h2>


<!-- Display information belonging to this person -->
<div class="row">
    <hr />
    <div class="column">
        <dl class="dl-horizontal" style="margin-left: 20px;">
            <dt>
                @Html.DisplayNameFor(model => model.PreferredName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PreferredName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FaxNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FaxNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>

            <dd>
                <a href="mailto:@(Model.EmailAddress)">@Model.EmailAddress</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidFrom)
            </dd>

        </dl>

    </div>

    <div class="column">
        <img src="~/Content/images/no_image_available.jpeg" style="width: 200px; height: 200px;" />
    </div>
</div>

