@model Homework8.Models.Item

<!-- Scripts required to display the modal window -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<!-- The Modal -->
<div class="container">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal header section -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModal-label">Confirm Delete</h3>
                    <label class="text-danger">WARNING: This action is permanent, and cannot be undone</label>
                </div>

                <!-- Modal body section -->
                <div class="modal-body">

                    <!-- Input for the item's name -->
                    <div class="form-group">
                        <div>
                            @Html.Label("Item Name")
                        </div>
                        @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "itemName" } })
                    </div>

                    <!-- Input for the item's description -->
                    <div class="form-group">
                        <div>
                            @Html.Label("Item Description")
                        </div>
                        @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "itemDescription" } })
                    </div>

                    <!-- Input for the item's seller -->
                    <div class="form-group">
                        <div>
                            @Html.Label("Seller")
                        </div>
                        @Html.DisplayFor(model => model.Seller, new { htmlAttributes = new { @class = "form-control", id = "itemSeller" } })
                    </div>

                </div>

                <!-- Modal footer section - contains the buttons -->
                <div class="modal-footer form-group">                    
                    <input type="button" class="btn btn-default" id="btnCancel" value="Cancel" data-dismiss="modal" />
                    <input type="button" class="btn btn-danger" id="btnDelete" value="DELETE" onclick="deleteListing()" />
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Script to handle actions related to the modal window -->
<script type="text/javascript">
    /* Handle deleting items */
    function deleteListing() {
        /* Grab the values from the form */
        var itemID = "@Model.ID";

        /* Send the information to the method */
        $.post("/Items/Delete?id=" + itemID, itemID, refreshParentPage(), 'int');

        /* This is called in order to refresh the parent page so that the changes appear immediately */
        function refreshParentPage() {
            setTimeout(function () {
                location.reload();
            }, 350);
        }
    }
</script>
