@model Homework8.Models.Item

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- The Modal -->
<div class="container">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal header section -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModal-label">Create New Listing</h4>
                </div>

                <!-- Modal body section -->
                <div class="modal-body">

                    <!-- Input for the item's name -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-lg-6" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "itemName" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <!-- Input for the item's description -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-lg-6" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "itemDescription" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <!-- Input for the item's seller -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Seller, "Seller", htmlAttributes: new { @class = "control-label col-lg-6" })
                        @Html.DropDownList("Seller", null, htmlAttributes: new { @class = "form-control", id = "itemSeller" })
                        @Html.ValidationMessageFor(model => model.Seller, "", new { @class = "text-danger" })
                    </div>

                </div>

                <!-- Modal footer section - contains the buttons -->
                <div class="modal-footer form-group">
                    <button class="btn btn-default" id="btnCancel" data-dismiss="modal">Cancel</button>
                    <input type="button" class="btn btn-primary" id="btnOK" value="Create Listing" onclick="saveItemDetails()" />
                    <!--<button class="btn btn-primary" id="btnOK" onclick="saveItemDetails()">Create Listing</button>-->
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".btn-primary").click(function saveItemDetails() {
        debugger;

        /* Grab the user input from the form */
        var itemName = $("#itemName").val();
        var itemDescription = $("#itemDescription").val();
        var itemSeller = $("#itemSeller").val();

        /* Build the information using the values we grabbed */
        var insertItem = { "Name": itemName, "Description": itemDescription, "Seller": itemSeller };

        /* Send the information to the method */
        $.post('/Items/CreateJSON', insertItem,
            function (data) { if (data == 0) { location = location.href; } }, 'json');

        /* Secretly reload the page so the new item shows */
        window.location.href = '/Items/Index'
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

