@model Homework8.Models.Item

@{
    ViewBag.Title = "Details";
}


<input type="hidden" value="@Model.ID" id="hdnFlag" />


<br />
<h2>Item Details</h2>
<br />
<br />

<div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- Push the bid table down farther -->
<br />
<br />

<!-- Set up the area for displaying bids for this item -->
<div class="container">

    <!-- Section header -->
    <h3>Current Bids for this Item</h3>
    <!-- Table headers -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    Buyer
                </th>
                <th>
                    Bid Amount
                </th>
            </tr>
        </thead>
        <!-- Table contents -->
        <tbody class="tbody"></tbody>
    </table>

</div>


@section showBidsScriptSection
{
    <script type="text/javascript" src="~/Scripts/js_show_bids_functions.js"></script>
}
