@model IEnumerable<Homework8.Models.Item>

@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">


<br />
<h1>Currently Listed Items</h1>
<br />
<br />

<p>
    <button type="button" class="btn btn-primary" id="btnOpenModal" data-toggle="modal" data-target="#createModal">Create New Listing</button>
    <div class="modal fade" id="createModal" role="dialog"></div>    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seller1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seller1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "test", @data_toggle = "modal", @data_target = "#createModal", @data_id = item.ID })
            </td>
        </tr>
    }
</table>



<script type="text/javascript">

    $(document).ready(function () {
        $("#btnOpenModal").click(function () {            
            $.get("/Items/Create", function (data) {

                $("#createModal").html(data);
                $("#createModal").modal("show");

                $("#createModal").on("hidden.bs.modal", function () {
                    /* Secretly reload the page so the new item shows */
                    location.reload();
                });

            });
        });        

        $(".test").click(function (id) {
            $.get("/Items/Edit?id=" + $(this).data('id'), function (data) {

                $("#createModal").html(data);
                $("#createModal").modal("show");

                $("#createModal").on("hidden.bs.modal", function () {
                    /* Secretly reload the page so the new item shows */
                    location.reload();
                });
            });
        });
        
    });
</script>


