@model IEnumerable<Homework8.Models.Bid>

@{
    ViewBag.Title = "Home Page";
}

<!-- DO NOT REMOVE THIS. Doing so will break the layout. -->
    </div>

<div class="jumbotron intro col-12" style="text-align: center;">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
    <hr style="margin-right: 50px; margin-left: 50px;" />
</div>


<div class="container">
    <h2>Ten Most Recent Bids Across All Items</h2>
    <!-- Table headers -->
    <table class="table recentBids">
        <tr>
            <th>
                @Html.Label("Item ID")
            </th>

            <th>
                @Html.Label("Item Name")
            </th>

            <th>
                @Html.Label("Buyer")
            </th>

            <th>
                @Html.Label("Bid Amount")
            </th>

            <th>
                @Html.Label("Time of Bid")
            </th>
        </tr>

        <!-- Table rows -->
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemID)
            </td>

            <td>
                @Html.ActionLink(item.Item.Name, "Details", "Items", new { id = item.ItemID }, null)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Buyer)
            </td>

            <td>
                @(string.Format("{0:C}", item.BidAmount))
            </td>

            <td>
                @if (item.BidTimestamp.Date == DateTime.Today)
                {
                    @(string.Format("{0:T}", item.BidTimestamp))
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.BidTimestamp)
                }
            </td>
        </tr>
        }

    </table>
</div>
<br/>
<br/>