@model IEnumerable<Homework6.Models.Person>

@{
    ViewBag.Title = "Home Page";
}


<div class="intro col-12">
    <h1>Wide World Importers</h1>
    <hr />
    <div>
        <div class="border"></div>
        <div c></div>
    </div>
</div>
    </div>

@using (Html.BeginForm("Home", "Home"))
{
    @Html.AntiForgeryToken()

<div class="searchArea">
    <div class="row">
        <div class="col-12">
            <!-- Create the search bar and search button -->
            @Html.TextBox("searchString", @Request["searchString"], new
       {
           @class = "form-control",
           id = "searchBar",
           placeholder = "Search by client name...",
           type = "text"
       })
            <input id="btnSearch" class="btn btn-default submitted" type="submit" value="Search" />
        </div>
    </div>
</div>

}

<!-- Create the table to hold the search results -->
<div id="tableParent">

    <!-- Check if we should display anything and if the search bar was empty -->
    @if (@ViewBag.ShowSearchResults && @Request["searchString"] != "")
    {
        <!-- Show the appropriate message -->
        @ViewBag.DisplayMessage

        <!-- If the model isn't null, we have stuff to display to the user -->
        if (Model != null)
        {
            <table>
                <!-- Create a link to more details for each entry found in the search -->
                @foreach (var client in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(
                            @client.FullName + " (" + @client.PreferredName + ")",
                            "ViewDetails",
                            "People",
                            new { id = @client.PersonID },
                            new { @class = "btn btn-default tableChild" })
                        </td>
                    </tr>
                }
            </table>
        }
    }

</div>