@model PagedList.IPagedList<Homework6.Models.Person>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<!-- DO NOT REMOVE THIS. Doing so will break the layout. -->
    </div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row searchArea">

        <div class="col-12">
            <!-- Create the search bar and search button -->
            @Html.TextBox("searchString", "", new
       {
           @class = "form-control",
           id = "searchBar",
           placeholder = "Search by client name...",
           type = "text"
       })
            <input id="btnSearch" class="btn btn-default submitted" type="submit" value="Search" />
        </div>
    </div>
}

<!-- Create the table to hold the search results -->

<div class="tableParent" id="resultsTable" style="max-width: 50vw;">
    <!-- If the model isn't null, we have stuff to display to the user -->
    @if (Model != null)
    {
        <div>
            <!-- Display a message related to the user's search -->
            <strong>Names matching your search: "@ViewBag.CurrentSearch"</strong>
        </div>

        <table>
            <!-- Create a link to more details for each entry found in the search -->
            @foreach (var client in Model)
            {

                <tr>
                    <td>
                        @Html.ActionLink(
                @client.FullName + " (" + @client.PreferredName + ")",
                "ViewDetails",
                "People",
                new { id = @client.PersonID },
                new { @class = "btn btn-default tableChild" })
                    </td>
                </tr>
            }
        </table>

        <!-- START PAGINATION SECTION -->
        <div>
            <!-- Display the current page out of the total number of pages -->
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            <!-- Create the page buttons and set the parameters for traversing the pages -->
            @Html.PagedListPager(Model, page => Url.Action("Home",
                new { page, sortOrder = Model.OrderBy(x => x.FullName), currentFilter = ViewBag.CurrentSearch }))
        </div>
        <!-- END PAGINATION SECTION -->
    }
    else
    {
        <div>
            <!-- Display a message saying nothing was found -->
            <strong>I'm sorry, your search returned no results.</strong>
        </div>
    }
</div>

<footer id="footer">
    <hr style="margin-right: 50px; margin-left: 50px;" />
    <p style="margin-left: 50px;">&copy; @DateTime.Now.Year - Wide World Importers</p>
</footer>